# Токен для доступа к тестам (берется из URL параметра ?token=)
VK_TEST_TOKEN=your_token_here_32a9df...

# Абсолютный путь до СКОПИРОВАННОЙ папки с профилем Chrome
# Внимание: не указывай оригинальную папку, иначе будет конфликт блокировки файлов!
CHROME_PROFILE_DIR=/Users/username/path/to/copied/bot_profile
